<section class="max-w-[1100px] mx-auto px-5 mt-5 sm:mt-10 md:mt-36 lg:mt-[350px] xl:mt-[450px] 2xl:mt-[550px]">
  <div class="flex flex-col gap-8 md:gap-0">
    <div class="flex flex-col md:flex-row gap-0 md:gap-10 items-center">
      <img src="/images/feature-1.svg" alt=""
        class="shadow-inner-[inset_-30px_30px_30px_0px_#2828280D] -ml-10  w-[80%] md:w-auto basis-1/2">
      <div class="text-center md:text-left basis-1/2">
        <h3 class="text-xl md:text-3xl font-medium">Bring new business in by getting more online reviews.</h3>
        <p class="text-subdued text-opacity-70 mt-4 text-lg md:text-xl">94% Use review to choose new doctor.</p>
      </div>
    </div>
    <div class="flex gap-0 items-center flex-col md:flex-row-reverse">
      <img src="/images/feature-2.svg" alt=""
        class="shadow-inner-[inset_-30px_30px_30px_0px_#2828280D] -ml-10 md:-ml-0 w-[80%] md:w-auto basis-[56%]">
      <div class="text-center md:text-left basis-[44%]">
        <h3 class="text-xl md:text-3xl font-medium ">Save time with collaborative tools and automations.
        </h3>
        <p class="text-subdued text-opacity-70 mt-4 text-lg md:text-xl ">15+ Staff hours saved per week.
        </p>
      </div>
    </div>
    <div class="flex flex-col md:flex-row gap-0 md:gap-10 items-center">
      <img src="/images/feature-3.svg" alt=""
        class="shadow-inner-[inset_-30px_30px_30px_0px_#2828280D] -ml-10 w-[80%] md:w-auto basis-1/2">
      <div class="text-center md:text-left basis-1/2">
        <h3 class="text-xl md:text-3xl font-medium">Improve patient experience engaging the way they want.</h3>
        <p class="text-subdued text-opacity-70 mt-4 text-lg md:text-xl">90% People prefer texts to phone calls.</p>
      </div>
    </div>
  </div>
</section>
<!-- Collaboration section -->
<section class="max-w-[1607px] w-[80%] mx-auto px-8 py-12 lg:py-24 mt-10 bg-[#DDE9FF] rounded-[30px]">
  <div class="flex flex-col lg:flex-row-reverse items-center gap-5">
    <div class="w-full lg:w-1/2">
      <img src="/images/collaboration.png" alt="" class="w-[80%] lg:w-full mx-auto">
    </div>
    <div class="w-full lg:w-1/2 text-center lg:text-left">
      <h3 class="text-xl lg:text-4xl font-medium lg:leading-[50px]">Seamless collaboration for healthcare teams
      </h3>
      <p class="text-subdued text-opacity-70 mt-4 text-base md:text-lg">With shared inboxes, any team member can
        resolve the team's pending tasks. Individual staff member don't get overwhelmed and patients are always take
        care of.
      </p>
    </div>
  </div>
</section>
<!-- CTA Section -->
<section class="max-w-[1607px] w-[80%] mx-auto px-5 py-10 mt-20 bg-[#D9DEEF] rounded-[30px] relative overflow-hidden">
  <!-- Curves -->
  <img src="/images/cta-curve-1.svg" alt="" class="absolute top-0 left-0 w-[10%] xl:w-auto">
  <img src="/images/cta-curve-2.svg" alt="" class="absolute bottom-0 right-0 w-[10%] xl:w-auto">
  <div class="flex items-center gap-5">
    <div class="w-full lg:w-[30%] hidden lg:block">
      <img src="/images/doctor.png" alt="" class="w-[300px] absolute bottom-0 left-0 xl:left-[5%]">
    </div>
    <div class="lg:w-[70%] text-center">
      <h3 class="text-xl md:text-4xl font-medium md:leading-[50px] w-[80%] mx-auto lg:mx-0">We work on a month-to-month
        basis,
        try
        for free
        with no
        commitments
      </h3>
      <p class="text-subdued text-opacity-70 mt-4 text-base md:text-lg w-[80%] mx-auto lg:mx-0 ">Lorem ipsum dolor sit
        amet,
        consectetur</p>
      <div class="w-[80%] mx-auto lg:mx-0 mt-4">
        <button class="bg-[#4482C2] hover:bg-[#4482C2]/80 transition-colors text-white rounded-[30px] h-[50px] px-5">
          14 Free Trial
        </button>
      </div>
    </div>
  </div>
</section>