<footer class="mt-32 bg-primary text-white pt-20 pb-5">
  <div class="flex flex-col gap-5">
    <div class="flex justify-between flex-wrap gap-10 items-start px-5 max-w-[1607px] w-[80%] mx-auto">
      <div class="flex items-start flex-col gap-5 max-w-[300px]">
        <img src="/images/white-logo.svg" alt="logo" class="w-auto h-[46.92px]">
        <p class="text-base md:text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
        <ul class="flex gap-4">
          <li><a href="#"><img src="/images/facebook.svg" alt="facebook" class="w-auto h-[25px]"></a></li>
          <li><a href="#"><img src="/images/twitter.svg" alt="twitter" class="w-auto h-[25px]"></a></li>
          <li><a href="#"><img src="/images/instagram.svg" alt="instagram" class="w-auto h-[25px]"></a></li>
        </ul>
      </div>
      <!-- Contact -->
      <ul class="flex flex-col gap-5 font-medium text-base md:text-lg">
        <li class="flex gap-2 items-center">
          <div class="flex gap-2 items-center">
            <span><img src="/images/tel.svg" alt="phone" class="w-auto h-5"></span>
            <span>+91-8853923455</span>
          </div>
        </li>
        <li class="flex gap-2 items-center">
          <div class="flex gap-2 items-center">
            <span><img src="/images/whatsapp.svg" alt="whatsapp" class="w-auto h-5"></span>
            <span>+91-4567895478</span>
          </div>
        </li>
        <li class="flex gap-2 items-center">
          <div class="flex gap-2 items-center">
            <span><img src="/images/email.svg" alt="email" class="w-auto h-5"></span>
            <span>patientgrid@gmail.com</span>
          </div>
        </li>
      </ul>
      <div>
        <p class="mb-5">Subscribe Newsletter</p>
        <div
          class="bg-white text-subdued relative rounded-l-[30px] rounded-r-lg flex items-center px-4 py-2 h-[50px] max-w-[200px] md:max-w-full">
          <input type="text" placeholder="Email" class="bg-transparent pr-6 outline-none w-full" />
          <img src="/images/send.svg" alt="send" class="w-auto h-[50px] absolute -right-5">
        </div>
      </div>
    </div>
    <div class="border-t border-b border-white py-3">
      <ul class="flex gap-12 font-medium items-center justify-center text-sm md:text-base">
        <li><a href="#" class="hover:underline underline-offset-2 transition-colors">Products</a></li>
        <li><a href="#" class="hover:underline underline-offset-2 transition-colors">Plans</a></li>
        <li><a href="#" class="hover:underline underline-offset-2 transition-colors">More</a></li>
      </ul>
    </div>
    <div>
      <p class="text-center text-sm md:text-base">&copy; Copyright 2023.All Rights Reserved.</p>
    </div>
  </div>

</footer>